@page
@model Pharmacy.Pages.TypeStockAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบประเภทของยา";
}

<h2>ลบประเภทของยา</h2>

<h3>คุณต้องการของประเภทยานี้หรือไม่?</h3>
<div>
    <h4>TypeStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeStock.TypeName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TypeStock.TypeStockID" />
        <input type="submit" value="ลบประเภทของยานี้" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
