@page
@model Pharmacy.Pages.TypeStockAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดประเภทของยา";
}

<h2>รายละเอียดประเภทของยา</h2>

<div>
    <h4>TypeStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeStock.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TypeStock.TypeStockID">แก้ไขประเภทของยา</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
