@page
@model Pharmacy.Pages.TypeStockAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขประเภทของยา";
}

<h2>แก้ไขประเภทของยา</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeStock.TypeStockID" />
            <div class="form-group">
                ประเภทของยา
                <input asp-for="TypeStock.TypeName" class="form-control" />
                <span asp-validation-for="TypeStock.TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
