@page
@model Pharmacy.Pages.TypeStockAdmin.IndexModel

@{
    ViewData["Title"] = "ระบบจัดการประเภทของยา";
}

<h2>ระบบจัดการประเภทของยา</h2>

<p>
    <a asp-page="Create">เพิ่มประเภทของยา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทของยา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypeStock) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TypeStockID">แก้ไขประเภทของยา</a> |
                <a asp-page="./Details" asp-route-id="@item.TypeStockID">รายละเอียดประเภทของยา</a> |
                <a asp-page="./Delete" asp-route-id="@item.TypeStockID">ลบประเภทของยา</a>
            </td>
        </tr>
}
    </tbody>
</table>
