﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>body{
background: #FFFAF0; 
background: -webkit-linear-gradient(-90deg, #FFFAFA, #F8F8FF); 
background: -o-linear-gradient(-90deg, #FFFAFA, #F8F8FF); 
background: -moz-linear-gradient(-90deg, #FFFAFA, #F8F8FF); 
background: linear-gradient(-90deg, #FFFAFA, #F8F8FF);
}
</style>
<div class="jumbotron" clo>
 <center><h1>สินค้าในคลัง</h1><center>
</div>
    <div class="row">
    <table class="table">
        <thead style="background-color: #87CEFA">
            <tr>
            <th>ประเภทของยา</th><th>วันที่อัพเดท</th><th>ชื่อยา</th><th>รายละเอียดของยา</th><th>จำนวน</th><th>โพสโดย </th>
            </tr>
        </thead>
        <tbody style="background-color: #00FFFF">
        @foreach (var item in Model.Stocks) {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.TyStock.TypeName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.StockDate)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.MedicineName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.MedicineDetail)
            </td>
            <td>
            @if(item.Amountdue >4){
            @Html.DisplayFor(modelItem => item.Amountdue)
            }else{
                <p style="color: red">ใกล้หมด</p>
            }
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PostUser.UserName)
            </td>
            
        </tr>
        }
        </tbody>
    </table>
</div>