@page
@model NewsReport.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>NewsCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsCategory.shortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.shortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsCategory.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewsCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
