@page
@model Pharmacy.Pages.StaffAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบสินค้า";
}

<h2>ลบสินค้า</h2>

<h3>คุณต้องการลบสินค้านี้หรือไม่?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.TyStock.TypeStockID)
        </dd>
        <dt>
           วันที่อัพเดท
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.StockDate)
        </dd>
        <dt>
            ชื่อสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.MedicineName)
        </dd>
        <dt>
            รายละเอียดสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.MedicineDetail)
        </dd>
        <dt>
            จำนวนสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.Amountdue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock.PostUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.PostUser.UserName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Stock.StockID" />
        <input type="submit" value="ลบสินค้า" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
