@page
@model Pharmacy.Pages.StaffAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดสินค้า";
}

<h2>รายละเอียดสินค้า</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.TyStock.TypeStockID)
        </dd>
        <dt>
            วันที่อัพเดท
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.StockDate)
        </dd>
        <dt>
            ชื่อสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.MedicineName)
        </dd>
        <dt>
            รายละเอียดสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.MedicineDetail)
        </dd>
        <dt>
            จำนวนสินค้า
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.Amountdue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock.PostUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock.PostUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stock.StockID">แก้ไขสินค้า</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
