@page
@using Microsoft.AspNetCore.Identity
@using Pharmacy.Models;
@model Pharmacy.Pages.StaffAdmin.EditModel
@inject SignInManager<StaffUser> SignInManager
@inject UserManager<StaffUser> UserManager
@{
    ViewData["Title"] = "แก้ไขสินค้า";
}

<h2>แก้ไขสินค้า</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stock.StockID" />
            <div class="form-group">
                ประเภทสินค้า
                <select asp-for="Stock.TypeStockID" class="form-control" asp-items="ViewBag.TypeStockID"></select>
                <span asp-validation-for="Stock.TypeStockID" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่อัพเดท
                <input asp-for="Stock.StockDate" class="form-control" />
                <span asp-validation-for="Stock.StockDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อสินค้า
                <input asp-for="Stock.MedicineName" class="form-control" />
                <span asp-validation-for="Stock.MedicineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดสินค้า
                <input asp-for="Stock.MedicineDetail" class="form-control" />
                <span asp-validation-for="Stock.MedicineDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนสินค้า
                <input asp-for="Stock.Amountdue" class="form-control" />
                <span asp-validation-for="Stock.Amountdue" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสต์โดย: @UserManager.GetUserName(User)
                <input asp-for="Stock.StaffUserID" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
