@page
@model Pharmacy.Pages.StaffAdmin.IndexModel

@{
    ViewData["Title"] = "ระบบจัดการคลังสินค้า";
}

<h2>ระบบจัดการคลังสินค้า</h2>

<p>
    <a asp-page="Create">เพิ่มสินค้า</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทสินค้า
            </th>
            <th>
                วันที่อัพเดท
            </th>
            <th>
                ชื่อสินค้า
            </th>
            <th>
                รายละเอียดสินค้า
            </th>
            <th>
                จำนวนสินค้า
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].PostUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stock) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TyStock.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amountdue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostUser.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StockID">แก้ไขสินค้า</a> |
                <a asp-page="./Details" asp-route-id="@item.StockID">รายละเอียดสินค้า</a> |
                <a asp-page="./Delete" asp-route-id="@item.StockID">ลบสินค้า</a>
            </td>
        </tr>
}
    </tbody>
</table>
